@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');

.App {
  background-color: #fcf7de;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.App-header {
  font-family: 'Corben', cursive;
  color: rgba(70, 68, 68, 0.815);
}

.heading {
  animation-name: fade_in;
  animation-duration: 2s;
  display: flex;
  flex-direction: column;
  font-size: calc(2vmin);
  top: calc(2vmin + 75px);
}

@keyframes fade_in {
  from {opacity: 0;}
  to {opacity:100;}
}