@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.rbox {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border: dashed;
    border-radius: 50px;
    margin-top: 200px;
    min-width: 50vw;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
}

.screenshotl {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.screenshotr {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 100px;
}

.image-wrapper img:hover {
    transition: transform .3s;
    transform: scale(1.08);
}

.text {
    flex: 1;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Jost', sans-serif;
}